{% extends "base.html" %}
{% block content %}

<section class="auth-section">
  <div class="auth-card">
    <h2>Welcome Back</h2>

    <form method="POST" action="{{ url_for('login') }}">

      <input type="email"
             name="email"
             placeholder="Email"
             required>

      <input type="password"
             name="password"
             placeholder="Password"
             required>

      <button class="btn-primary">Login</button>

    </form>
  </div>
</section>

{% endblock %}