{% extends "base.html" %} {% block content %}
<section class="photo-page">
  <img
    src="{{ url_for('portfolio_file', filename=photo.filename) }}"
    alt="{{ photo.title }}"
  />

  <h2>{{ photo.title }}</h2>
  <p>{{ photo.category }}</p>
  {% if is_admin %}
  <a href="{{ url_for('edit_photo', id=photo.id) }}"> Edit </a>
  <a
    href="{{ url_for('portfolio_file', filename=photo.filename, download=1) }}"
    download
    class="download-btn"
  >
    Download
  </a>
  {% endif %}
</section>
{% endblock %}
